In [4]:
# cat = ['French', 'Seafood', 'Thai', 'American (Traditional)',
#        'Comfort Food', 'Italian', 'Brazilian', 'Pizza', 'Moroccan',
#        'American (New)', 'Korean', 'Cocktail Bars', 'Shanghainese',
#        'Cajun/Creole', 'Mediterranean', 'Indian', 'Vietnamese',
#        'Filipino', 'Southern', 'Ramen', 'Mexican', 'Japanese',
#        'Latin American', 'Szechuan', 'Tapas Bars', 'British', 'Cuban',
#        'Bars', 'Steakhouses', 'Gastropubs', 'Chinese', 'Taiwanese',
#        'Peruvian', 'Asian Fusion', 'Barbeque', 'Wine Bars',
#        'Tapas/Small Plates', 'Breakfast & Brunch', 'Turkish', 'Greek',
#        'Dim Sum', 'Chicken Wings', 'Food Stands', 'Argentine',
#        'Specialty Food', 'Food Court', 'Malaysian', 'Gluten-Free',
#        'Burgers', 'Whiskey Bars', 'Sushi Bars', 'Cafes', 'Tacos', 'Salad',
#        'Indonesian', 'Hot Pot', 'Poke', 'Bakeries', 'Laotian',
#        'Caribbean', 'Ethiopian', 'Cambodian', 'Izakaya', 'Soul Food',
#        'Sandwiches', 'Georgian', 'Lounges', 'Coffee & Tea', 'Desserts',
#        'Australian', 'Modern European', 'Irish', 'Noodles', 'Polish',
#        'Spanish', 'New Mexican Cuisine', 'Beer Bar', 'Pubs',
#        'Middle Eastern', 'Scandinavian', 'Pan Asian', 'Lebanese',
#        'Russian', 'Diners', 'Teppanyaki', 'Venezuelan', 'Sports Bars',
#        'Dominican', 'Hong Kong Style Cafe', 'Egyptian', 'Colombian',
#        'Fast Food', 'Delis', 'Himalayan/Nepalese', 'Cinema', 'Vegan',
#        'Burmese', 'Buffets', 'Seafood Markets', 'Hot Dogs',
#        'Japanese Curry', 'Venues & Event Spaces', 'Boating', 'Uzbek',
#        'Irish Pub', 'Haitian', 'Juice Bars & Smoothies', 'Chicken Shop',
#        'Belgian']
import pandas as pd
import numpy as np
from yelpapi import YelpAPI
from tqdm import tqdm_notebook

In [52]:
restaurant_lst = []
total_offset = 1000
# Replace by your api
api_key = "Jr9s6tgYQVnfeVwT7xRB7vqsrrWixIweUq-c9pMUIfW2BMPyRjilsph2VW1QSsjGWY9oA9jwMby0HoZAnOqqsVNltRWNIlKY14JwUIFd08AqW3Vz_2QgQLCsEORpXHYx" 
yelp_api = YelpAPI(api_key)

# You can add more categories here
cat = ['Chinese','Italian','Thai','French','Japanese','Korean','Malaysian','Mexican','Spanish']

for j in tqdm_notebook(np.arange(len(cat))):
    for i in tqdm_notebook(np.arange(0,total_offset,50)):
        restaurant_lst.append(yelp_api.search_query(term = cat[j],location={'New York City'},offset = i,limit = 50)['businesses'])

HBox(children=(IntProgress(value=0, max=9), HTML(value='')))

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

In [53]:
name,review_count,categories,rating,latitude,longitude,price,address,zip_code = [[] for i in range(9)]

for i in np.arange(len(restaurant_lst)):
    for x in restaurant_lst[i]:
        name.append(x['name'])
        review_count.append(x['review_count'])
        categories.append(x['categories'][0]['title'])
        rating.append(x['rating'])
        latitude.append(x['coordinates']['latitude'])
        longitude.append(x['coordinates']['longitude'])
        address.append(x['location']['address1'])
        zip_code.append(x['location']['zip_code'])
        try:
            price.append(x['price'])
        except:
            price.append(np.nan)

data = pd.DataFrame(list(zip(name,review_count,categories,rating,latitude,longitude,price,address,zip_code)),
                columns = ['name','review_count','categories','rating','latitude','longitude','price','address','zip_code'])

# data.drop_duplicates(inplace = True)
# data.reset_index(drop = True,inplace = True)

In [68]:
def zip_code_clean(row):
    try:
        return int(row)
    except:
        return np.nan

data.zip_code = data.zip_code.apply(zip_code_clean)

In [69]:
data.zip_code.isnull().sum()

9

In [70]:
data = data[(data.zip_code >= 10000) & (data.zip_code <= 11436)]

In [73]:
data.dropna(inplace = True)

In [80]:
data.drop_duplicates(inplace = True)
data.reset_index(drop = True,inplace = True)

In [116]:
data[(data.price == '$$$$') & (data.categories == 'Sushi Bars')]

,name,review_count,categories,rating,latitude,longitude,price,address,zip_code
2314,Sushi Ishikawa,129,Sushi Bars,4.5,40.768783,-73.953898,$$$$,419 E 74th St,10021.0
3130,Sushi Daizen,93,Sushi Bars,4.5,40.744450,-73.953820,$$$$,47-38 Vernon Blvd,11101.0
3161,Sushi Kaito,129,Sushi Bars,4.5,40.779160,-73.983670,$$$$,244 W 72nd St,10023.0
3204,Sushi Ginza Onodera,140,Sushi Bars,4.5,40.752340,-73.981510,$$$$,461 5th Ave,10017.0
3253,Sushi Inoue,106,Sushi Bars,4.0,40.810444,-73.943642,$$$$,381 Lenox Ave,10027.0
3255,Tanoshi Sushi Sake Bar,574,Sushi Bars,4.5,40.767568,-73.952815,$$$$,1372 York Ave,10021.0
3258,Sushi Azabu,413,Sushi Bars,4.0,40.722293,-74.009884,$$$$,428 Greenwich St,10013.0
3263,Kakurega Sushi,43,Sushi Bars,4.0,40.760567,-73.833354,$$$$,133-44 37th Ave,11354.0
3282,Nobu Fifty Seven,1076,Sushi Bars,4.0,40.763621,-73.976505,$$$$,40 W 57th St,10019.0
3284,Sushi Of Gari,594,Sushi Bars,4.0,40.771370,-73.952750,$$$$,402 E 78th St,10075.0
3296,Kuruma Zushi,221,Sushi Bars,4.0,40.756530,-73.977680,$$$$,7 E 47th St,10017.0
3308,Sushi Ryusei,52,Sushi Bars,4.5,40.748450,-73.975130,$$$$,216 E 39th St,10016.0
3319,Masa,306,Sushi Bars,4.0,40.768606,-73.983278,$$$$,10 Columbus Cir,10019.0
3324,Omakase Room by Tatsu,86,Sushi Bars,4.5,40.733820,-74.000420,$$$$,14 Christopher St,10014.0
3334,SHOJI at 69 Leonard St,40,Sushi Bars,4.5,40.717720,-74.005380,$$$$,69 Leonard St,10013.0
3337,Uchu,57,Sushi Bars,4.5,40.721720,-73.990260,$$$$,217 Eldridge St,10002.0
3367,Neta,349,Sushi Bars,4.0,40.733500,-73.999070,$$$$,61 W 8th St,10011.0
3371,Sushi of Gari 46,642,Sushi Bars,4.0,40.760720,-73.989570,$$$$,347 W 46th St,10036.0
3397,noda,21,Sushi Bars,4.5,40.744780,-73.988100,$$$$,6 West 28th St,10001.0
3419,The Lobster Club,73,Sushi Bars,4.0,40.758301,-73.971868,$$$$,98 E 53rd St,10022.0
3460,Sushi Zo Hanare - Midtown,13,Sushi Bars,5.0,40.749710,-73.977590,$$$$,127 E 39th St,10016.0
3490,Gari Columbus,315,Sushi Bars,4.0,40.781120,-73.976320,$$$$,370 Columbus Ave,10024.0
3537,Kappo Masa,50,Sushi Bars,3.5,40.774647,-73.963531,$$$$,976 Madison Ave,10075.0
3581,Jewel Bako,524,Sushi Bars,3.5,40.726990,-73.989220,$$$$,239 E 5th St,10003.0
3622,Sushi Dojo NYC,386,Sushi Bars,4.0,40.726627,-73.985672,$$$$,110 1st Ave,10009.0
3624,Mayanoki,43,Sushi Bars,4.5,40.723920,-73.980850,$$$$,620 E 6th St,10003.0
3634,sushi AMANE,42,Sushi Bars,4.0,40.751570,-73.971720,$$$$,245 E 44th St,10017.0
3735,Sushi Katsuei,65,Sushi Bars,3.5,40.732260,-74.000920,$$$$,357 6th Ave,10014.0

# To CSV

In [117]:
data.to_csv('restaurant_NYC.csv', index = False)